teamc.intern28.sakuraha.jp {
    handle /api/config* {
        reverse_proxy frontend:3000
    }

    handle_path /api/* {
        reverse_proxy api:8080
    }

    handle {
        reverse_proxy frontend:3000
    }
}